/* Importing Fonts */
@import url('https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro&display=swap');

/* ------------------------------------------
---------------COLORS------------------------
--------------------------------------------- */

/* Main Colors */
$primary: #3498db;
$secondary: #FACF5A;
$success: #2eb872;
$info: #495BFC;
$warning: #FF9D00;
$danger: #FF3838;
$bg: #f3f3f3;

/* Text Color Variations */
$black: #000000;
$sblack: #444444;
$grey: #929292;
$silver: #e3e3e3;
$white: #ffffff;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito', sans-serif;
    background: $bg;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Nunito;
    font-weight: 600;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

i,
span {
    display: inline-block;
}

.eCard {
    padding: 40px;
    background-color: $white;
    box-shadow: 0px 3px 15px $silver;
    border-radius: 10px;
}

.eCardSuccess {
    @extend .eCard;
    background-color: $success;
    color: $white !important;
    box-shadow: 0px 10px 15px $silver;
}