/* Importing Fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito|Source+Sans+Pro&display=swap");
/* ------------------------------------------
---------------COLORS------------------------
--------------------------------------------- */
/* Main Colors */
/* Text Color Variations */
body {
  font-family: 'Nunito', sans-serif;
  background: #f3f3f3;
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Nunito;
  font-weight: 600;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nothing {
  background: none;
  border: none;
  cursor: pointer;
}

i,
span {
  display: inline-block;
}

.eCard, .eCardSuccess {
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 3px 15px #e3e3e3;
          box-shadow: 0px 3px 15px #e3e3e3;
  border-radius: 10px;
}

.eCardSuccess {
  background-color: #2eb872;
  color: #ffffff !important;
}

/* ---------------------------------------------------
        SIDEBAR STYLE
    ----------------------------------------------------- */
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #ffffff;
  color: #444444;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 3px 0px 15px #e3e3e3;
          box-shadow: 3px 0px 15px #e3e3e3;
  z-index: 999;
}

.sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

.sidebar.active .sidebar-header h3,
.sidebar.active .CTAs,
.sidebar.active .textLink {
  display: none;
}

.sidebar.active .sidebar-header strong {
  display: block;
}

.sidebar ul li a {
  text-align: left;
}

.sidebar .expanded {
  margin-left: 2.5em;
  font-size: 0.8em;
}

.sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.9em;
}

.sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.sidebar.active ul ul a {
  padding: 10px !important;
}

.sidebar.active .dropdown-toggle::after {
  top: auto;
  bottom: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.sidebar.active .expanded {
  margin-left: 0em;
  font-size: 0.8em;
}

.sidebar .sidebar-header {
  background: #3498db;
  color: #ffffff;
  padding: 60px 20px;
}

.sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

.sidebar ul.components {
  padding: 20px 10px;
  color: #929292;
  font-weight: 500;
}

.sidebar ul li a {
  padding: 15px;
  font-size: 1.1rem;
  display: block;
}

.sidebar ul li a:hover {
  color: #3498db;
  background: #ffffff;
}

.sidebar ul li a i {
  margin-right: 10px;
}

.sidebar ul li.active > a {
  color: #3498db;
}

a[aria-expanded="true"] {
  color: #3498db;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
/* Navigation Bar */
.navbar {
  padding: 20px 0;
  border-bottom: 1px solid #e3e3e3;
}

.profilePicture {
  width: 36px;
  border-radius: 100px;
  margin-bottom: 5px;
  margin-left: 20px;
}

.content {
  width: 100%;
  position: relative;
  padding: 0px 40px;
  min-height: 100vh;
}

/* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */
@media (max-width: 768px) {
  .sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
  .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  .sidebar {
    margin-left: 0;
  }
  .sidebar.active {
    margin-left: 0 !important;
  }
  .sidebar .sidebar-header h3,
  .sidebar .CTAs,
  .sidebar .textLink {
    display: none;
  }
  .sidebar .sidebar-header h3,
  .sidebar .CTAs {
    display: none;
  }
  .sidebar .sidebar-header strong {
    display: block;
  }
  .sidebar ul li a {
    padding: 20px 10px;
  }
  .sidebar ul li a span {
    font-size: 0.85em;
  }
  .sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
  .sidebar ul ul a {
    padding: 10px !important;
  }
  .sidebar ul li a i {
    font-size: 1.3em;
  }
  .sidebarCollapse span {
    display: none;
  }
}

/* ------------------------------
----------- BUTTONS -------------
--------------------------------- */
/* Remove Backgound from default Buttons */
.nothing {
  background: none;
  border: none;
  cursor: pointer;
}

.ebtn, .ebtnSecond, .ebtnSuccess, .ebtnDanger {
  background: #3498db;
  padding: 5px 40px;
  color: #ffffff;
  height: 48px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  font-weight: 600;
}

.ebtn:hover, .ebtnSecond:hover, .ebtnSuccess:hover, .ebtnDanger:hover {
  background: #217dbb;
  -webkit-box-shadow: 0px 1px 5px #cacaca;
          box-shadow: 0px 1px 5px #cacaca;
}

.ebtnSecond {
  background: #FACF5A;
  color: #444444;
}

.ebtnSecond:hover {
  background: #f9c129;
  -webkit-box-shadow: 0px 1px 5px #cacaca;
          box-shadow: 0px 1px 5px #cacaca;
}

.ebtnSuccess {
  background: #2eb872;
}

.ebtnSuccess:hover {
  background: #248f59;
  -webkit-box-shadow: 0px 1px 5px #cacaca;
          box-shadow: 0px 1px 5px #cacaca;
}

.ebtnDanger {
  background: #FF3838;
}

.ebtnDanger:hover {
  background: #eb0000;
  -webkit-box-shadow: 0px 1px 5px #bdbdbd;
          box-shadow: 0px 1px 5px #bdbdbd;
}

/* -------------------------------------
-------------- INPUTS ------------------
----------------------------------------*/
.boxee {
  height: 48px;
  padding: 5px 20px;
}
/*# sourceMappingURL=style.css.map */