@import './global';
@import './sidebar';
@import './forms';


/* Dashboard Stuff */

.dashboard {
    margin-top: 3em;
}

.statBig {
    font-size: 2em;
    font-weight: bold;
}

.statIcon {
    color: $grey;
    margin-right: 0.3em;
}

.statDesc {
    margin-left: 0.2em;
}

.greenUp {
    color: $success;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;

}

.redDown {
    color: $danger;
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0.5em;
}

/* Equal Columns for Bootstrap */

.row.equal-cols {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.equal-cols:before,
.row.equal-cols:after {
    display: block;
}

.row.equal-cols>[class*='col-'] {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.row.equal-cols>[class*='col-']>* {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}